.number-box {
  margin: 1.5%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60%; 
  border: 2px solid black;
}

.button {
  font-family: 'Courier';
  background-color: #FF7F50;
  border: 1px solid gray;
  margin: 2%;
  width: 40%;
  height: 80%;
}